$clouds: #ecf0f1;
$midnight: #2c3e50;
$wisteria: #8e44ad;
*{
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: $wisteria;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4em;
}
h1 {
  margin: 0 0 1em;
}
.question {
  border: 0.1em solid white;
  border-radius: 10px;
  padding: 1.7em;
  margin: 10px;
  margin-bottom: 2em;
}
.button {
  display: inline-block;
  border-radius: 0.25em;
  margin: 20px;
  padding: 0.5em 0.5em;
  border: 0.1em solid white;
  cursor: pointer;
  transition: 0.8s;
}
.button:hover {
  color: $wisteria;
  background: white;
}
.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  max-width: 500px;
  margin: 20px;
}
input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label {
  position: relative;
  margin-right: 1em;
  margin-bottom: 0.7em;
  padding-left: 2em;
  padding-right: 1em;
  line-height: 2;

  cursor: pointer;
  &:before {
    box-sizing: border-box;
    content: " ";
    position: absolute;
    top: 0.3em;
    left: 0;
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 2px solid white;
    border-radius: 0.25em;
    z-index: -1;
  }
}
input[type="radio"] + label::before {
  border-radius: 1em;
}
/* Checked */
input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
  padding-left: 1em;
  color: $wisteria;
  &:before {
    top: 0;
    width: 100%;
    height: 2em;
    background: white;
  }
}
.error{
  background-color: tomato;
  border: 0.1em solid white;
  color: white;
  font-weight: bolder;
  padding: 0.8em;
  text-align: center;
  margin: 1em;
  border-radius: .5em;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
  position: relative;
  display: none;
}
.displayAlert{
  display: block;
}

/* Transition */
label,
label::before {
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
